.pagination {
    margin: 10px auto;
    max-width: 420px;
}

.selected {
    background-color: cornflowerblue;
}

.pagination span {
    margin: 3px;
}

.filterForm {
    margin-right: 4px;
}

.form {
    margin: 40px;
}

.heading {
    margin-left: 40px;
}