.nav {
    text-align: center;
    position: fixed;
}

.item {
    text-align: center;
    margin: 15px auto;
    font-size: 18px;
}

.nav a {
    text-decoration: none;
    outline: none;
    color: black;
}

.friends {
    display: flex;
}

.nav h2 {
    text-align: center;
    margin-top: 60px;
}