.nav {
    grid-area: nav;
    /* background-color: bisque; */
    min-height: 700px;
    text-align: center;
}

.item {
    text-align: center;
    margin: 15px auto;
    font-size: 18px;
}

.nav a {
    text-decoration: none;
    outline: none;
    color: white;
}

.friends {
    display: flex;
}

.nav h2 {
    text-align: center;
    margin-top: 60px;
}